{% extends "base.html" %}

{% block title %}Chatroom Login{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12"><h1>Chatroom Login</h1></div>
</div>

{% if errors %}
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-unstyled">
                {% for error in errors %}
                <li>
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="col-xs-12">
        <div class="alert alert-warning">
            <p>This chatroom is locked with a password, please enter it to access.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <form method="POST" action="{% url "chat:chatroom_password_challenge" chatroom.id %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="form-chatroom-password">Password</label>
                <input class="form-control" id="form-chatroom-password" type="password" name="password">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>

{% endblock content %}