{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
    
    {% if form.errors %}
    <p><strong>Failed. Try again.</strong></p>
    {% endif %}
    
    {% if user.is_authenticated %}
        <form method="POST" action="{% url "password_change" %}">
            {% csrf_token %}
            
            {{ form.as_ul }}

            <button type="submit">Submit</button>
        </form>
    {% else %}
        <p>You are not logged in.</p>
        <a href="{% url "chat:index" %}">Home</a>
    {% endif %}
    

{% endblock content %}